
<footer class="text-center  bg-light text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-2 border-bottom">
    <div class="me-5 d-none d-lg-block center-content">
      <span>Redes Sociales</span>
    </div>
    <div>
      <a routerLink="**" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a routerLink="**" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a routerLink="**" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
   
  </section>
  
  <section class="">
    <div class="container text-center text-md-start mt-3">
      <div class="row mt-2">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3">ElectroShop
            </i>
          </h6>
          <p>
            Un producto, una esencia.
          </p>
        </div>
        
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-2">
          <!-- Links -->
          <h6 class="text-uppercase mb-4 style-hover">
           links Utiles
          </h6>
            <a routerLink="**" class="text-reset">Precios</a>
          <p>
            <a routerLink="**" class="text-reset">Ajustes</a>
          </p>
          <p>
            <a routerLink="**" class="text-reset">Ordenes</a>
          </p>
          <p>
            <a routerLink="**" class="text-reset">Ayuda</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contactos</h6>
          <p><i class="fas fa-home me-3"></i> Buenos Aires</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            ElectroShop@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 54 xx xxx xxxx</p>
          <p><i class="fas fa-print me-3"></i> + 54 xx xxx xxxx</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/"></a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->