
<app-nav-bar></app-nav-bar>

<app-header></app-header>

<div class="container mt-5">
    <h3>Lo mas visto</h3>
</div>

<div class="container text-center my-5 ancho-productos">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <app-producto></app-producto>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <app-producto></app-producto>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <app-producto></app-producto>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <app-producto></app-producto>
        </div>
    </div>
    
</div>

<app-footer></app-footer>
