
<div class="container-card">
    <button (click)="backTo()" class="button-back-arrow btn btn-light">
       <i class="pi pi-arrow-left"></i>
    </button>
    <div class="card mb-3 m-auto" id="subcontainer-product">
        <div class="row g-0">
          <div class="col-md-4">
            <img src={{product.imagen}} class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title fw-semibold fs-2">{{product.nombre}}</h5>
              <div class="fw-normal descripcion-text my-4">
                <span>
                  {{product.descripcion}}
                </span>
              </div>
              <div><small class="text-body-secondary fw-bold mt-4" [innerHTML]="subdescripcion"></small></div>
              <div class="fs-1 mt-3 price" style="width: 20rem;">
                {{product.precio | currency}}
              </div>
              <div class="m-auto py-4">
                <button type="button" pRipple pButton class="btn btn-success" id="button-comprar" (click)="addCash()">Agregar al carrito</button>
              </div>
            </div>
          </div>
        </div>

      </div>
</div>