.container-card{
    width: 90%;
    margin: 40px auto;
    border: 2px solid #1b1919;
    border-radius: 10px;
    background-color: #FA7B55;
    box-shadow: 2px 2px 3px rgb(40, 43, 43);
}

.button-back-arrow{
    margin: 20px;
}
.card{
    background-color: rgb(235, 230, 229);
}