// .navbar{
    //     background-color: #000000;
    // }
    .nav-content-responsive{
        display: flex;
        flex-direction: row;
    }
    .logo-image{
        width: 100px;
        background-size: contain;
        background-position: center;
        transform: scale(1.2);
        overflow: hidden;
        color: #fff;
    }
    
    .cart-icon{
        font-size: 1.5rem;
        color: rgb(238, 223, 223);
        position: relative;
        top: 5px;
    }

    #categorias-subtitle{
        color: #555;
    }
    
    @media screen and (max-width:990px){
        .nav-content-responsive{
            flex-direction: column;
            margin-top: 20px;
        }
    }