// .navbar{
//     background-color: #000000;
// }
.nav-content-responsive{
    display: flex;
    flex-direction: row;
}
.logo-image{
    width: 100px;
    background-size: contain;
    background-position: center;
    transform: scale(1.2);
    overflow: hidden;
    color: #fff;
}

.color-shopping{
    color: #fff;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#141212;
    border-radius: 5px;
    padding: 3px;

}

@media screen and (max-width:990px){
    .nav-content-responsive{
        flex-direction: column;
        margin-top: 20px;
    }
}