<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid ">
    <div id="carouselExampleInterval" class="carousel slide alto-carrusel-mobile" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
                <img src="https://images.fravega.com/f300/426732bd3bd0d45250fe1b85ae00bdd7.jpg.webp"
                    class="d-block w-100" alt="Imagen 1" />
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://images.fravega.com/f300/fe5367c08530c842fdba89cf9ad08fc9.png.webp"
                    class="d-block w-100" alt="Imagen 2" />
            </div>
            <div class="carousel-item">
                <img src="https://images.fravega.com/f300/1f229648a3e8142ffa89caf645b12037.png.webp"
                    class="d-block w-100" alt="Imagen 3" />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <div class="d-md-flex justify-content-center align-items-center boton-carrusel d-none ">
                <span class="text-black carousel-control-prev-icon" aria-hidden="true"></span>
            </div>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <div class="d-md-flex justify-content-center align-items-center boton-carrusel d-none ">
                <span class="carousel-control-next-icon boton-carruse" aria-hidden="true"></span>
            </div>
            <span class="visually-hidden l">Next</span>
        </button>
    </div>
</div>