<div class="login-form">
	<div class="login-form-box">
		<div class="login-form-header">
			<h2>Registro</h2>
		</div>
		<form>
			<div class="input-item">
				<input type="text" placeholder="Ingresa nombre de usuario" required
				oninvalid="this.setCustomValidity('Por favor ingrese el nombre de usuario.')"
 				oninput="setCustomValidity('')">
			</div>

			<div class="input-item">
				<input type="email" placeholder="Ingresa correo electronico" required oninvalid="this.setCustomValidity('Por favor ingrese un correo electronico valido')"
				oninput="setCustomValidity('')">
			</div>
			<span class="error-validation-sign-up"></span>
			<div class="input-item">
				<input type="email" placeholder="Confirma tu correo electronico" required oninvalid="this.setCustomValidity('Por favor ingrese un correo electronico valido')"
				oninput="setCustomValidity('')">
			</div>
			<span class="error-validation-sign-up"></span>
			<div class="input-item">
				<input type="date" placeholder="Ingresa tu fecha de nacimiento" required oninvalid="this.setCustomValidity('Por favor ingrese una fecha valida')"
				oninput="setCustomValidity('')">
			</div>
			<span class="error-validation-sign-up"></span>
			<div class="input-item">
				<input type="password" placeholder="Ingresa tu contraseña" required oninvalid="this.setCustomValidity('Por favor ingrese la contraseña')"
				oninput="setCustomValidity('')">
			</div>
			<span class="error-validation-sign-up"></span>
			<div class="input-item">
				<input type="password" placeholder="Confirma tu contraseña" required oninvalid="this.setCustomValidity('Por favor ingrese la contraseña')"
				oninput="setCustomValidity('')">
			</div>
			<span class="error-validation-sign-up"></span>
			<button (click)="signUp()">Registrar</button>
		</form>
	</div>
</div>